.anchor, header a, .flex-container ul li a, #hero a, .flex-container2 #header-title2 a, .flex-container2 ul li a {
  text-decoration: none;
  color: white;
  list-style-type: none;
  font-family: 'Fjalla One', sans-serif; }

.center, #hero a, #hero button, #hero img, #gallery .row {
  display: block;
  margin: 0 auto;
  text-align: center; }

* {
  box-sizing: border-box; }

body {
  background-image: url("../img/hero-slide1.jpg");
  background-repeat: no-repeat;
  background-color: black; }

header {
  height: 51px;
  color: #fff; }
  header a:hover {
    color: #DC7725; }

.flex-container {
  width: 970px;
  height: 52px;
  margin: 30px auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .flex-container ul {
    display: flex; }
    .flex-container ul li {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      list-style-type: none; }
      .flex-container ul li a:hover {
        color: #DC7725;
        text-decoration: underline; }

#hero {
  align-items: center;
  margin-top: 10%; }
  #hero a:hover {
    color: #DC7725; }
  #hero hr {
    width: 200px;
    height: 5px;
    background: #fff; }
  #hero h1 {
    font-size: 7em;
    margin: 0 auto; }
  #hero h3 {
    font-family: 'Fjalla One', sans-serif; }
  #hero h1, #hero h3 {
    color: #fff;
    text-align: center; }
  #hero button {
    width: 200px;
    height: 70px;
    color: #fff;
    background-color: #DC7725;
    margin-top: 10%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14pt;
    font-weight: lighter; }
    #hero button:hover {
      background-color: #e39251;
      transform: rotateX(180deg); }

.flex-container2 {
  background-color: #333333;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 9%;
  padding-left: 10px;
  position: relative; }
  .flex-container2 #header-title2 a {
    font-size: 12pt; }
    .flex-container2 #header-title2 a:hover {
      color: #DC7725;
      text-decoration: underline;
      transform: skewX(20deg); }
  .flex-container2 ul {
    display: flex; }
    .flex-container2 ul li {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      list-style-type: none;
      color: silver;
      font-family: 'Fjalla One', sans-serif; }
      .flex-container2 ul li a:hover {
        color: #DC7725;
        text-decoration: underline; }

#gallery {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  text-align: center; }
  #gallery .row {
    width: 30%; }
    #gallery .row .col {
      padding: 5px;
      margin-top: 10px;
      flex: 1 1;
      border: 2px solid #fff;
      height: 200px;
      transition: transform(5s);
      background-repeat: no-repeat; }
      #gallery .row .col img {
        background-size: cover; }
      #gallery .row .col:hover {
        border: 3px solid #DC7725;
        transform: rotateY(180deg);
        opacity: 0.5; }
      #gallery .row .col:nth-child(1) {
        background-image: url("../img/arctic-rafting.jpg");
        flex-basis: 300px;
        background-size: cover;
        background-position: center; }
      #gallery .row .col:nth-child(2) {
        background-image: url("../img/wildlife.png");
        background-position: center;
        flex-basis: 200px;
        background-size: cover;
        background-position: center; }
      #gallery .row .col:nth-child(3) {
        background-image: url("../img/wild1.jpeg");
        background-position: center;
        background-size: contain;
        flex-basis: 300px;
        background-size: cover;
        background-position: center; }
      #gallery .row .col:nth-child(4) {
        background: green;
        flex-basis: 300px;
        background-size: cover;
        background-position: center; }
      #gallery .row .col:nth-child(5) {
        background: purple;
        flex-basis: 200px;
        background-size: cover;
        background-position: center; }
      #gallery .row .col:nth-child(6) {
        background: purple;
        flex-basis: 200px;
        background-size: cover;
        background-position: center; }
      #gallery .row .col:nth-child(7) {
        background: green;
        flex-basis: 200px;
        background-size: cover;
        background-position: center; }
      #gallery .row .col:nth-child(8) {
        background: purple;
        flex-basis: 200px;
        background-size: cover;
        background-position: center; }
      #gallery .row .col:nth-child(9) {
        background: purple;
        flex-basis: 200px;
        background-size: cover;
        background-position: center; }

@media screen and (max-width: 658px) {
  .flex-container ul li a {
    font-size: 10pt; }
  .flex-container #gallery .row .col {
    width: 100%;
    height: 50%;
    position: relative;
    top: 100px; }

  #hero h1 {
    font-size: 3em; }
  #hero a i {
    margin-top: 10px; } }
@media screen and (max-width: 768px) {
  .flex-container #header-title {
    position: relative;
    top: 20px; } }
@media screen and (max-width: 1024px) {
  .flex-container {
    width: 80%; }

  #gallery .row .col {
    width: 100%;
    position: relative;
    top: 100px; }

  .flex-container2 {
    position: relative;
    top: 100px; } }

/*# sourceMappingURL=styles.css.map */
