//Base Styles
* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/hero-slide1.jpg');
  background-repeat: no-repeat;
  background-color: black;
}

header {
  height: 51px;
  color:white;
  a {
    color:white;
    text-decoration: none;
  }
}

//Top

.flex-container {
  width: 970px;
  height: 52px;
  margin: 30px auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    li {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      list-style-type: none;
      a {
        color: white;
        font-family: 'Fjalla One', sans-serif;
      }
    }
  }
}
//Middle - Hero
#hero {
  align-items: center;
  margin-top: 10%;
  a {
    color: white;
    text-align: center;
    margin: 0 auto;
    display: block;
    &:hover {
      color: #DC7725;
    }
  }
  hr {
    width: 200px;
    height: 5px;
    background: white;
  }
  h1 {
    font-size: 7em;
    margin: 0 auto;
  }
  h3 {
    font-family: 'Fjalla One', sans-serif;
  }
  h1,h3 {
    color: white;
    text-align: center;
  }
  button {
    width: 200px;
    height: 70px;
    color: white;
    background-color: #DC7725;
    margin: 0 auto;
    display: block;
    margin-top:10%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14pt;
    font-weight: lighter;
    &:hover {
      background-color: lighten(#DC7725, 10%);
    }
  }
  img {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
//2nd Nav
.flex-container2 {
  background-color: #333333;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 9%;
  padding-left: 10px;
  position: relative;
  #header-title2 {
    a {
      color:white;
      font-family: 'Open Sans', sans-serif;
      font-size: 12pt;
      text-decoration: none;
    }
  }
  ul {
    display: flex;
    li {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      list-style-type: none;
      color:silver;
      font-family: 'Fjalla One', sans-serif;
      a {
        color:white;
      }
    }
  }
}

// Gallery

#gallery {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  color: white;
  font-family: 'Fjalla One',
  sans-serif;
  text-align: center;
  .row {
    width: 25%;
    .col {
      padding: 5px;
      flex: 1 1;
      border:2px solid white;
      height: 200px;
      margin: 10px;
      &:nth-child(1) {
        background-image: url('../img/arctic-rafting.jpg');
        flex-basis: 500px;
      }
      &:nth-child(2) {
        background-image: url('../img/wildlife.png');
        background-position: center;
        flex-basis: 200px;
      }
      &:nth-child(3) {
        background-image: url('../img/wild1.jpeg');
        background-position: center;
        background-size: contain;
        flex-basis: 300px;
      }
      &:nth-child(4) {
        background: green;
        flex-basis: 300px;
      }
      &:nth-child(5) {
        background: purple;
        flex-basis: 200px;
      }
      &:nth-child(6) {
        background: purple;
        flex-basis: 200px;
      }
      &:nth-child(7) {
        background: green;
        flex-basis: 200px;
      }
      &:nth-child(8) {
        background: purple;
        flex-basis: 200px;
      }
      &:nth-child(9) {
        background: purple;
        flex-basis: 200px;
      }
      &:nth-child(10) {
        background: green;
        flex-basis: 200px;
      }
      &:nth-child(11) {
        background: purple;
        flex-basis: 200px;
      }
      &:nth-child(12) {
        background: purple;
        flex-basis: 500px;
      }
    }
  }
}
