* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/hero-slide1.jpg');
}

header {
  height: 51px;
  color:white;
  a {
    color:white;
    text-decoration: none;
  }
}

.flex-container {
  width: 970px;
  height: 52px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    li {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      list-style-type: none;
      a {
        color: white;
        font-family: 'Fjalla One', sans-serif;
      }
    }
  }
}

#hero {
  align-items: center;
  margin-top: 10%;
  hr {
    width: 200px;
    height: 5px;
    background: white;
  }
  h1 {
    font-size: 7em;
    margin: 0 auto;
  }
  h3 {
    font-family: 'Fjalla One', sans-serif;
  }
  h1,h3 {
    color: white;
    text-align: center;
  }
  button {
    width: 200px;
    height: 70px;
    color: white;
    background-color: #DC7725;
    margin: 0 auto;
    display: block;
    margin-top:10%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14pt;
    font-weight: lighter;
  }
  img {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

.flex-container2 {
  background-color: #333333;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 17.5%;
  padding-left: 10px;
  #header-title2 {
    a {
      color:white;
      font-family: 'Open Sans', sans-serif;
      font-size: 12pt;
      text-decoration: none;
    }
  }
  ul {
    display: flex;
    li {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      list-style-type: none;
      color:white;
      font-family: 'Fjalla One', sans-serif;
      a {
        color:white;
      }
    }
  }
}
