//Color Variables
$arctic-orange : #DC7725;
$white: #fff;

//Extends
.anchor {
  text-decoration: none;
  color: white;
  list-style-type: none;
  font-family: 'Fjalla One', sans-serif;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

//Base Styles
* {
  box-sizing: border-box;
}

body {
  background-image: url('../img/hero-slide1.jpg');
  background-repeat: no-repeat;
  background-color: black;
}

header {
  height: 51px;
  color:$white;
  a {
    @extend .anchor;
    &:hover {
      color:$arctic-orange;
    }
  }
}

//Top

.flex-container {
  width: 970px;
  height: 52px;
  margin: 30px auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    li {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      list-style-type: none;
      a {
        @extend .anchor;
        &:hover {
          color:$arctic-orange;
          text-decoration: underline;
        }
      }
    }
  }
}
//Middle - Hero
#hero {
  align-items: center;
  margin-top: 10%;
  a {
    @extend .anchor;
    @extend .center;
    &:hover {
      color: $arctic-orange;
    }
  }
  hr {
    width: 200px;
    height: 5px;
    background: $white;
  }
  h1 {
    font-size: 7em;
    margin: 0 auto;
  }
  h3 {
    font-family: 'Fjalla One', sans-serif;
  }
  h1,h3 {
    color: $white;
    text-align: center;
  }
  button {
    width: 200px;
    height: 70px;
    color: $white;
    background-color: $arctic-orange;
    @extend .center;
    margin-top:10%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 14pt;
    font-weight: lighter;
    &:hover {
      background-color: lighten($arctic-orange, 10%);
      transform: rotateX(180deg);
    }
  }
  img {
    @extend .center;
  }
}
//2nd Nav
.flex-container2 {
  background-color: #333333;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 9%;
  padding-left: 10px;
  position: relative;
  #header-title2 {
    a {
      @extend .anchor;
      font-size: 12pt;
      &:hover {
        color:$arctic-orange;
        text-decoration: underline;
        transform: skewX(20deg);
      }
    }
  }
  ul {
    display: flex;
    li {
      padding: 10px;
      font-weight: 700;
      font-size: 15px;
      list-style-type: none;
      color:silver;
      font-family: 'Fjalla One', sans-serif;
      a {
        @extend .anchor;
        &:hover {
          color:$arctic-orange;
          text-decoration: underline;
        }
      }
    }
  }
}

// Gallery

#gallery {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  color: $white;
  font-family: 'Fjalla One',
  sans-serif;
  text-align: center;
  .row {
    width: 30%;
    @extend .center;
    .col {
      padding: 5px;
      margin-top: 10px;
      flex: 1 1;
      border:2px solid $white;
      height: 200px;
      transition: transform(5s);
      background-repeat: no-repeat;
      img {
        background-size: cover;
      }
      &:hover {
        border: 3px solid $arctic-orange;
        transform: rotateY(180deg);
        opacity: 0.5;
      }
      &:nth-child(1) {
        background-image: url('../img/arctic-rafting.jpg');
        flex-basis: 300px;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(2) {
        background-image: url('../img/wildlife.png');
        background-position: center;
        flex-basis: 200px;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(3) {
        background-image: url('../img/wild1.jpeg');
        background-position: center;
        background-size: contain;
        flex-basis: 300px;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(4) {
        background: green;
        flex-basis: 300px;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(5) {
        background: purple;
        flex-basis: 200px;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(6) {
        background: purple;
        flex-basis: 200px;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(7) {
        background: green;
        flex-basis: 200px;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(8) {
        background: purple;
        flex-basis: 200px;
        background-size: cover;
        background-position: center;
      }
      &:nth-child(9) {
        background: purple;
        flex-basis: 200px;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

//Media Queries

//768px and lower
@media screen and (max-width:768px) {
  .flex-container {
    #header-title {
      position: relative;
      top: 20px;
    }
  }
}

//658px and under
@media screen and (max-width: 658px) {
  .flex-container {
    ul {
      li {
        a {
          font-size: 10pt;
        }
      }
    }
    #gallery {
      .row {
        .col {
          width: 100%;
          height: 50%;
          position: relative;
          top: 100px;
          }
        }
      }
  }
  #hero{
    h1 {
      font-size: 3em;
    }
    a {
      i {
        margin-top: 10px;
      }
    }
  }

}

//1024px and higher
@media screen and (max-width:1024px) {
  .flex-container {
    width: 80%;
  }
  #gallery {
    .row {
      .col {
        width: 100%;
        position: relative;
        top: 100px;
        }
      }
    }
    .flex-container2 {
      position: relative;
      top: 100px;
    }
  }
